<ng-template #createTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createForm" (ngSubmit)="createSubmit()">
    <div class="modal-body">
      <div class="form-group" *ngFor="let field of fields">
        <label [for]="field.Name">{{field.DisplayName}}</label>

        <!-- <ckeditor *ngIf="getInputControlType(field) === 'html'" [formControlName]="field.Name"
          [required]="!field.IsNullable"></ckeditor>
        <ui-switch *ngIf="getInputControlType(field) === 'checkbox'" [formControlName]="field.Name" [checkedLabel]="'是'"
          [uncheckedLabel]="'否'"></ui-switch>
        <input *ngIf="getInputControlType(field)=== 'input'" [type]="getInputType(field)" class="form-control"
          [placeholder]="field.DisplayName" [formControlName]="field.Name" [required]="!field.IsNullable"> -->

        <ng-container [ngSwitch]="field.ControlType">
          <ng-container *ngSwitchCase="'Select'">
            <select [formControlName]="field.Name" class="form-control" [required]="!field.IsNullable">
              <option *ngFor="let option of enumObj[field.Name]" [value]="option.Value">
                {{option.DisplayName}} <small>{{option.Name}}</small>
              </option>
            </select>
          </ng-container>
          <ng-container *ngSwitchCase="'Checkbox'">
            <ui-switch [formControlName]="field.Name" [checkedLabel]="'是'" [uncheckedLabel]="'否'"></ui-switch>
          </ng-container>
          <ng-container *ngSwitchCase="'FileSelect'">
            <app-select-image-file></app-select-image-file>
          </ng-container>
          <ng-container *ngSwitchCase="'Input'">
            <input [type]="getInputType(field)" class="form-control"
            [placeholder]="field.DisplayName" [formControlName]="field.Name" [required]="!field.IsNullable">
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{field.ControlType}}
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="createModalRef.hide()">关闭</button>
      <button type="submit" class="btn btn-danger" [disabled]="!createForm.valid">新建</button>
    </div>
  </form>
</ng-template>