<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li mk-dropdown type="list" [isWrapper]="false" class="tasks-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger">9</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
    <li class="header">You have 9 tasks</li>
    <li>
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
        <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
          <li>
            <a href="#">
              <h3>
                Design some buttons
                <small class="pull-right">20%</small>
              </h3>
              <div class="progress xs">
                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <h3>
                Create a nice theme
                <small class="pull-right">40%</small>
              </h3>
              <div class="progress xs">
                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">40% Complete</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>
                Some task I need to do
                <small class="pull-right">60%</small>
              </h3>
              <div class="progress xs">
                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>
                Make beautiful transitions
                <small class="pull-right">80%</small>
              </h3>
              <div class="progress xs">
                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">80% Complete</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="slimScrollBar"
          style="width: 3px; position: absolute; top: 0; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);">
        </div>
        <div class="slimScrollRail"
          style="width: 3px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">
        </div>
      </div>
    </li>
    <li class="footer">
      <a href="#">View all tasks</a>
    </li>
    </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu" *ngIf="user">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img [src]="user.AvatarUrl" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.Name}}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
    <li class="user-header">
      <img [src]="user.AvatarUrl" class="img-circle" alt="User Image">

      <p>
        {{user.Name}} - Web Developer
        <small>Member since Nov. 2012</small>
      </p>
    </li>
    <li class="user-footer">
      <div class="pull-left">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a (click)="signout()" class="btn btn-default btn-flat">退出</a>
      </div>
    </li>
    </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="notifications-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-sliders"></i>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
    <li class="header"></li>
    <li>
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
        <ul class="menu" style="overflow: hidden; width: 100%; height: auto;">
          <li>
            <a [routerLink]="['/model']"><i class="fa fa-sliders text-blue"></i>Model管理</a>
          </li>
          <li>
            <a [routerLink]="['/admin/controller-project']">
              <i class="fa fa-bars text-yellow"></i> Controller项目管理
            </a>
          </li>
          <li>
            <a [routerLink]="['/admin/client-module']">
              <i class="fa fa-list-ol text-blue"></i> Client Module管理
            </a>
          </li>
          <li calss="model-setting">
            <a href="/swagger" target="_blank">
              <i class="fa">
                <img src="/swagger/favicon-16x16.png" alt="">
              </i>
              Swagger文档</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="footer">
    </li>
    </mk-dropdown-menu>
    </li>
  </ul>
</div>