<swal #deleteSwal title="删除?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteItem()">
</swal>
<app-create-modal #createModal [title]="createTitle" [fields]="createFields" (onsubmit)="createItem($event)"
  [largeModal]="true">
</app-create-modal>
<app-edit-modal #editModal [title]="editTitle" [fields]="editFields" (onsubmit)="updateItem($event)"
  [largeModal]="true">
</app-edit-modal>

<div class="box box-primary direct-chat direct-chat-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      {{modelDisplayName}}列表
    </h3>
    <div class="box-tools pull-right">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" *ngIf="config.canCreate"
          (click)="createModal.openCreateModal()">新建</button>

        <button type="button" class="btn btn-info" (click)="refreshList()">
          <i class="fa fa-retweet"></i>
          <!-- 刷新 -->
        </button>
      </div>
    </div>
  </div>
  <div class="box-header with-border">
    <app-search [fields]="queryFields" (onsubmit)="querySubmit($event)"></app-search>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div>
      <pagination [totalItems]="pagingData.TotalCount" [(ngModel)]="pagingData.PageIndex"
        (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [maxSize]="config.maxSize" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>

    <div class="table-responsive">
      <table *ngIf="pagingData" class="table no-margin table-hover table-striped table-bordered paging-data-list">
        <thead>
          <tr>
            <th width="30">#</th>
            <th *ngIf="config.canSelect" width="50">
              <input type="checkbox" value="">
            </th>
            <th *ngFor="let field of _fields">
              {{field.DisplayName}}
            </th>
            <th width="100">
              <span class="pull-right">
                操作
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="pagingData">
          <tr *ngFor="let item of pagingData.Data;let i = index" (click)="currentItem = item">
            <td>
              {{i+1}}
            </td>
            <td *ngIf="config.canSelect">
              <input type="checkbox" [(ngModel)]="selectIdObj[item.Id]" value="{{item.Id}}">
            </td>
            <td *ngFor="let field of _fields" class="data-cell">

              <ng-container *ngIf="field.IsEnum; else elseTemplate">
                <span>
                  {{enumObj[field.Name] && enumObj[field.Name][item[field.Name]].DisplayName}}
                </span>
              </ng-container>
              <ng-template #elseTemplate>
                <ng-container *ngIf="getInputControlType(field) !== 'html'; else elseHtmlTemplate">
                  <span>
                    {{item[field.Name]}}
                  </span>
                </ng-container>
                <ng-template #elseHtmlTemplate>
                  <span [innerHTML]="item[field.Name]"></span>
                </ng-template>
              </ng-template>
            </td>
            <td>
              <div class="btn-group btn-group-xs pull-right">

                <button type="button" class="btn btn-warning" *ngIf="config.canEdit" (click)="openEditModal(item)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>

                <button type="button" class="btn btn-danger" *ngIf="config.canDelete" (click)="showDeleteSwal(item)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

              </div>

            </td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
    <div>
      <pagination [totalItems]="pagingData.TotalCount" [(ngModel)]="pagingData.PageIndex"
        (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [maxSize]="config.maxSize" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>

  </div>
  <!-- /.box-body -->
  <div class="box-footer">

  </div>
  <!-- /.box-footer-->
</div>
