.data-cell {
  max-width: 300px;
  height: 50px;
  max-height: 50px !important;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.current-item {
  color: darkblue;
  font-weight: 700;
}

table {
  table-layout: fixed;
}
.overflowable {
  overflow: visible;
  position: relative;
}
