.current-model {
  font-weight: bold;
  color: darkblue;
}

.checkbox {
  label {
    margin-right: 20px;
  }
}

input[type=checkbox],
input[type=radio] {
  margin: 4px;
}


.cell {
  table-layout: fixed;
}
