<section class="content">
  <h2>
    Model列表
  </h2>
  <div>

    <button type="button" class="btn btn-primary" (click)="regenerateTsCode()">重新生成Angular TS 代码</button>

  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3">

      <mk-box [isCollapsable]="false" [isRemovable]="false" contentClasses="table-responsive">

        <table class="table table-striped table-inverse table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>DisplayName</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of models" (click)="selectModel(model)"
              [ngClass]="{'current-model': model===currentModel}">
              <td>
                {{model.DisplayName}}

              </td>
              <td>
                {{model.Name}}
              </td>
            </tr>
          </tbody>
        </table>
      </mk-box>

    </div>
    <div class="col-lg-9 col-md-9" *ngIf="currentModel">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="createNewVM()">创建</button>
        <button type="button" class="btn btn-warning" (click)="createNewVM('Update')">更新</button>
        <button type="button" class="btn btn-danger" (click)="createNewVM('Display')">展示</button>
        <button type="button" class="btn btn-info" (click)="createNewVM('Query')">查询</button>
      </div>
      <div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="enableDelete" value="true">
            允许删除
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generateVM" value="true">
            生成ViewModels
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generateService" value="true">
            生成Service
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="generateController" value="true">
            生成Controller
          </label>
        </div>
        <div class="checkbox">

          <label>
            <input type="checkbox" [(ngModel)]="generateNgModuleComponent" value="true">
            生成Angular Module和Component
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="isNgModelListComponent" value="true">
            Is List Component
          </label>
          <label *ngIf="generateNgModuleComponent">NgModelName
            <!-- <input type="text" class="form-control" required="required" [(ngModel)]="ngModuleName"
              placeholder="NgModelName"> -->
            <select class="form-control" [(ngModel)]="ngModuleName" required>
              <option *ngFor="let option of clientModules" [value]="option.Name">
                {{option.Name}}
              </option>
            </select>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="updateTsServices" value="true">
            更新生成AngularService
          </label>
        </div>
      </div>

      <div class="table-responsive" *ngIf="currentModel">

        <mk-box [header]="currentModel.DisplayName" [isCollapsable]="false" [isRemovable]="false"
          contentClasses="table-responsive">
          <mk-box-content>
            <table class="table table-striped table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th>Type</th>
                  <th>DisplayName</th>
                  <th>Name</th>
                  <th>
                    ActionName
                  </th>
                  <th *ngFor="let field of currentModel.Fields">
                    {{field.DisplayName}}
                  </th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vm of createVMs">
                  <td>
                    <select class="form-control" [(ngModel)]="vm.Type" (ngModelChange)="changeVmType(vm)"
                      (change)="changeVmType(vm)">
                      <option *ngFor="let type of vmTypes" [value]="type.value">
                        {{type.name}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.DisplayName" />
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.Name">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.ActionName">
                  </td>
                  <td *ngFor="let field of currentModel.Fields">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="vm['field'][field.Name]" value="true">
                  </td>
                  <td>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-danger btn-sm" (click)="deleteVM(vm)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </mk-box-content>

          <mk-box-footer>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-danger" (click)="submitCreateVMs()"
                *ngIf="createVMs.length>0">提交</button>
            </div>

          </mk-box-footer>
        </mk-box>

      </div>


    </div>
  </div>
</section>
