<section class="content">
  <h2>
    Model列表
  </h2>
  <div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="regenerateTsCode()">重新生成Angular TS 代码</button>
      <button type="button" class="btn btn-danger" (click)="updateAppRoutingCode()">重新生成AppRouting代码</button>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3">

      <mk-box [isCollapsable]="false" [isRemovable]="false" contentClasses="table-responsive">

        <table class="table table-striped table-inverse table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>DisplayName</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of models" (click)="selectModel(model)"
              [ngClass]="{'current-model': model===currentModel}">
              <td>
                {{model.DisplayName}}

              </td>
              <td>
                {{model.Name}}
              </td>
            </tr>
          </tbody>
        </table>
      </mk-box>

    </div>
    <div class="col-lg-9 col-md-9" *ngIf="currentModel">

      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-2 control-label">
            生成ViewModels
            <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.GenerateVM" value="true"> -->
            <ui-switch [(ngModel)]="suitApplyVM.GenerateVM" [checkedLabel]="'是'" [uncheckedLabel]="'否'"></ui-switch>
          </label>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            生成Service
            <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.GenerateService" value="true"> -->
            <ui-switch [(ngModel)]="suitApplyVM.GenerateService" [checkedLabel]="'是'" [uncheckedLabel]="'否'">
            </ui-switch>
          </label>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            生成Controller
            <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.GenerateController" value="true"> -->
            <ui-switch [(ngModel)]="suitApplyVM.GenerateController" [checkedLabel]="'是'" [uncheckedLabel]="'否'">
            </ui-switch>
          </label>
          <div class="col-sm-10" *ngIf="suitApplyVM.GenerateController">
            <div class="form-group">

              <label class="col-sm-4 control-label">
                生成到项目

              </label>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="suitApplyVM.ControllerProjectName" required>
                  <option *ngFor="let option of controllerProjects" [value]="option.ProjectName">
                    {{option.ProjectName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">
                Controller添加权限

              </label>
              <div class="col-sm-8">

                <div class="checkbox">
                  <ui-switch [(ngModel)]="suitApplyVM.ControllerWithAuthorize" [checkedLabel]="'是'"
                    [uncheckedLabel]="'否'"></ui-switch>
                </div>



              </div>
            </div>
            <div class="form-group" *ngIf="suitApplyVM.ControllerWithAuthorize">
              <label for="inputRole" class="col-sm-4 control-label">授权角色</label>
              <div class="col-sm-8">
                <select name="Role" id="inputRole" class="form-control" [(ngModel)]="suitApplyVM.AuthorizeRole">
                  <option value="">-- 不采用角色 --</option>
                  <option *ngFor="let option of roles" [value]="option.Name">
                    {{option.Description}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">

            生成Angular Module和Component
            <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.GenerateNgModuleComponent"
              value="true"> -->
            <ui-switch [(ngModel)]="suitApplyVM.GenerateNgModuleComponent" [checkedLabel]="'是'" [uncheckedLabel]="'否'">
            </ui-switch>
          </label>

          <div class="col-sm-10" *ngIf="suitApplyVM.GenerateNgModuleComponent">
            <div class="form-group">
              <label class="col-sm-4 control-label">
                Is List Component
                <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.IsNgModelListComponent" value="true"> -->

              </label>
              <div class="col-sm-8">
                <ui-switch [(ngModel)]="suitApplyVM.IsNgModelListComponent" [checkedLabel]="'是'" [uncheckedLabel]="'否'">
                </ui-switch>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">生成到模块 </label>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="suitApplyVM.NgModuleName" required>
                  <option *ngFor="let option of clientModules" [value]="option.Name">
                    {{option.Name}}
                  </option>
                </select>
              </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            更新生成AngularService
            <!-- <input type="checkbox" [(ngModel)]="suitApplyVM.UpdateTsServices" value="true"> -->
            <ui-switch [(ngModel)]="suitApplyVM.UpdateTsServices" [checkedLabel]="'是'" [uncheckedLabel]="'否'">
            </ui-switch>
          </label>
        </div>
      </div>

      <div class="table-responsive" *ngIf="currentModel">

        <mk-box [isCollapsable]="false" [isRemovable]="false" contentClasses="table-responsive">
          <mk-box-header>
            <h2>
              {{currentModel.DisplayName}}
            </h2>
            <div class="form-group">
              <label class="control-label">
                生成删除VM
              </label>
              <ui-switch [(ngModel)]="suitApplyVM.EnableDelete" [checkedLabel]="'是'" [uncheckedLabel]="'否'"></ui-switch>
            </div>
            <div class="box-tools pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="createNewVM()">创建</button>
                <button type="button" class="btn btn-warning" (click)="createNewVM('Update')">更新</button>
                <button type="button" class="btn btn-danger" (click)="createNewVM('Display')">展示</button>
                <button type="button" class="btn btn-info" (click)="createNewVM('Query')">查询</button>
              </div>
            </div>

          </mk-box-header>
          <mk-box-content>
            <table class="table table-striped table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th>类型</th>
                  <th>显示名称</th>
                  <th>名称</th>
                  <th>
                    操作名称
                  </th>
                  <th *ngFor="let field of currentModel.Fields">
                    {{field.DisplayName}}
                  </th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vm of createVMs">
                  <td>
                    <select class="form-control" [(ngModel)]="vm.Type" (ngModelChange)="changeVmType(vm)"
                      (change)="changeVmType(vm)">
                      <option *ngFor="let type of vmTypes" [value]="type.value">
                        {{type.name}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.DisplayName" />
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.Name">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="vm.ActionName">
                  </td>
                  <td *ngFor="let field of currentModel.Fields" class="cell">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="vm['field'][field.Name]" value="true">
                  </td>
                  <td>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-danger btn-sm" (click)="deleteVM(vm)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </mk-box-content>

          <mk-box-footer>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-danger" (click)="submitCreateVMs()"
                *ngIf="createVMs.length>0">提交</button>
            </div>

          </mk-box-footer>
        </mk-box>

      </div>


    </div>
  </div>
</section>
