<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      {{site.title}}
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">登录您的账号</p>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group has-feedback" *ngFor="let field of fields">
          <input [type]="getInputType(field)" class="form-control" [placeholder]="field.DisplayName"
            [formControlName]="field.Name" required>
          <span class="glyphicon {{inputIcon[field.Name]}} form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm?.valid">登录</button>
          </div>
        </div>
      </form>

      <a href="#">忘记密码</a><br>
      <a routerLink="/auth/register" class="text-center">注册</a>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>
