<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/">
        {{site.title}}
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">登录您的账号</p>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group has-feedback" *ngFor="let field of fields">
          <input [type]="getInputType(field)" class="form-control" [placeholder]="field.DisplayName"
            [formControlName]="field.Name" required>
          <span class="glyphicon {{inputIcon[field.Name]}} form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <!-- <div class="checkbox icheck">
              <label>
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false"
                  style="position: relative;">
                  <input [(ngModel)]="loginInfo.rememberMe" type="checkbox"
                    style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins
                    class="iCheck-helper"
                    style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins>
                </div>
                记住登录
              </label>
            </div> -->
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm?.valid">登录</button>
          </div>
        </div>
      </form>

      <a href="#">忘记密码</a><br>
      <a routerLink="/auth/register" class="text-center">注册</a>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>
