<div class="row">
  <form [formGroup]="queryForm" (ngSubmit)="querySubmit()">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let field of _fields">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{field.DisplayName}}</span>
              <ng-container [ngSwitch]="field.ControlType">
                <ng-container *ngSwitchCase="'Lookup'">
                  <app-lookup-select [lookup]="field.Lookup" [placeholder]="field.DisplayName"
                    [formControlName]="field.Name" [lookuprequired]="!field.IsNullable" ctrlclass="form-control">
                  </app-lookup-select>
                </ng-container>
                <ng-container *ngSwitchCase="'Select'">
                  <select [formControlName]="field.Name" class="form-control" [required]="!field.IsNullable">
                    <option></option>
                    <option *ngFor="let option of enumObj[field.Name]" [value]="option.Value">
                      {{option.DisplayName}} <small>{{option.Name}}</small>
                    </option>
                  </select>
                </ng-container>
                <ng-container *ngSwitchCase="'Checkbox'">
                  <select [formControlName]="field.Name" class="form-control input-sm">
                    <option></option>
                    <option value="true">
                      是
                    </option>
                    <option value="false">
                      否
                    </option>
                  </select>
                </ng-container>
                <ng-container *ngSwitchCase="'FileSelect'">
                  <app-select-image-file [formControlName]="field.Name"></app-select-image-file>

                </ng-container>
                <ng-container *ngSwitchCase="'Input'">
                  <input [type]="getInputType(field)" class="form-control" [placeholder]="field.DisplayName"
                    [formControlName]="field.Name" [required]="!field.IsNullable">
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{field.ControlType}}
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <div class="pull-right">
        <div class="btn-group">
          <button type="reset" class="btn btn-info">重置</button>
          <button type="submit" class="btn btn-warning">
            <i class="fa fa-search" aria-hidden="true"></i>
            查询</button>
        </div>
      </div>
    </div>
  </form>
</div>